

  * {
  box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
     min-height: 100vh;
     background-color: black;
}
.topnav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0px 0px;
    color: #fff;
    background-color: #e066cc;
    height: 83px;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
   flex-wrap: wrap; 
  overflow-x: hidden; 
  background-color: #f87ed3;
  position: fixed;
}

.topnav img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}


.topnav ul{
    list-style: none;
    display: flex;
    gap: 10px;
   
}

.topnav ul li{
     position: relative;
}

.topnav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 50px;
    text-decoration: underline;
}

.topnav-book {
  float: right; 
}

.topnav-book .book-btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #2b2328;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease;
}

.topnav-book .book-btn i {
  margin-right: 6px;
  font-size: 18px;
}

.topnav-book .book-btn:hover {
  background-color: #d81aa4;
  transform: scale(1.05);
}

.topnav li a:hover{

    color: rgb(52, 52, 54); 
  transform: scale(1.1);    
  text-decoration: underline;
}
.container1 {
     position: relative;
     display: inline-block;
     width: 100%;
     height: 700px;
     background-color: rgb(32, 19, 0);
     display: flex;
     align-items: center; 
     justify-content: flex-start;
     gap: 100px;  
     margin-top: 2px;

        }

   img {
    width: 600px;
    height: 500px;
    border: none;
        }
  .text{
   max-width: 500px;
   color: white;
   text-align: left;
   font-size: 20px;
   font-style: oblique;
      }
      .text h2{
        max-width: 400px;
      }
.findus {
  padding: 20px;
}
.findus h3 {
  text-align: center;
  color: rgb(243, 105, 201);
  font-size: 2rem;
  margin-bottom: 50px;
}
  .map-salonstatus{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  margin-top: 20px;
  align-items: start;
}
.opening-hours{
  
  background: lab(1.49% 0.52 0.18);
  padding: 20px;
  border-radius: 10px;
  height: auto;
  color: #e8eaeb;
}

.opening-hours h2 {
  margin-bottom: 30px;
  margin-top: 20px;
  color: hsl(337, 12%, 87%);
  text-align: left;   
  font-size: 2rem;
}

.opening-hours ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.opening-hours li {
  margin-bottom: 40px;
  font-size: 16px;
  color: #e8eaeb;
} 
.opening-hours p a{
  color: rgb(198, 185, 185);
  margin-top: 20px;
}
.opening-hours i{
  color: rgb(248, 93, 184);
  font-size: 2rem;
}
     
.map-container  h3{
 text-align: center;
 color: white;
 font-size: 30px;

 margin-top: 10px;
}
.map-container{
       
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  width: 100%;     
  margin: 0;        
}

.map-container iframe {
 width: 100%;
  height: 400px;
  border: none;
  border-radius: 8px;
  
}

footer{
   width: 100%;
    bottom: 0;
    top: 30px;
   
    background-color: #e066cc;
    color: white;
     padding: 2px 2px 5px 2px;
    text-align: center;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
   
}
footer p{
   color: #fff;
    font-size: 14px;
    text-align:center ;
    position: relative;
    left: 30%;
    bottom: 5px;
    transform: translateX(-50%);

}
.footer-booking-btn {
    display:  inline-flex;  
    background-color: #171516; 
    color: white;
    padding: 10px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
     margin-left: auto; 
     margin-right: 8px;
    transition: 0.3s ease;
    align-items: center; 
 
}

.footer-booking-btn:hover {
    background-color: #ff99d9;  
    transform: scale(1.1);
}

.social-links-container {
    margin-top: 10px;
     display: flex;             
    justify-content: flex-end; 
    padding: 20px 50px;        
    gap: 15px;               
}

.social-links-container a {
   
     font-size: 30px;   
    transition: 0.3s ease;
 
}

.social-links-container a:hover {  
    transform: scale(1.2);
   
}
.social-links-container a.facebook { color: #1877F2; }   
.social-links-container a.instagram { color: #C13584; }  
.social-links-container a.whatsapp { color: #25D366; }   

.container2 {

  margin: 0 auto;
  height: 900px;
  display: grid;
    width: 100%;
  box-sizing: border-box; 
  overflow: hidden;  

}
.container2 h4{
  color: rgb(243, 105, 201);
  font-style: initial;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5px;
}
.container2 h2{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 30px;

}

.contact-card {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #191818;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  animation: fadeIn 0.6s ease;
  width: 100%;
  box-sizing: border-box; 
  overflow: hidden;  
  color: white;
}

.form-columns {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
  width: 100%;
}
.booking-form label {
  font-weight: 600;
  color: #f83dc0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
.booking-form input,
.booking-form select,
.booking-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #fbc2e9;
  outline: none;
  transition: 0.3s ease;
}
.booking-form input:focus,
.booking-form select:focus,
.booking-form textarea:focus {
  border-color: #faa4e0;
  box-shadow: 0 0 8px rgba(129, 80, 115, 0.3);
}

.booking-form textarea {
  height: 140px;
  resize: none;
}

.submit-btn {
  padding: 14px 25px;
  background-color: #f83dc0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 220px;
}

.submit-btn:hover {
  background-color: #d81aa4;
  transform: scale(1.03);
}

.container4{
min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
     
}
.container4 h2{
 color: rgb(243, 105, 201);
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.Gallery{
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
  width: 100%;
}

.Gallery img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  border-radius: 6px;  
  transition: opacity 0.3s;
 aspect-ratio: 1 / 1;
}
.Gallery img:hover{
  cursor: pointer;
  opacity: 0.3;
  
}
.gallery-button-container {
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
}
.see-more {
 position: absolute;
 
  padding: 12px 20px;
  background-color: rgb(163, 157, 161);
  color: rgb(17, 12, 12);
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
   margin-left: 300px;
   margin-bottom: 50px;
}

.see-more:hover {
  background-color: rgb(232, 83, 158);
  transform: scale(1.05);
}

.about{
  width: 100%;
 height: 500px;

}
.about h2{
  font-size: 35px;
  font-style: italic;
  color: #f87ed3;
  text-align: center;
  padding-left: 100px;
  margin-top: 15px;
}
.about hr{
 width: 560px;
margin-right: 40px;
}
.about p{
   color: #e8eaeb;
   max-width: 600px;
   text-align: left;
   font-size: 23px;
   font-family: 'Noto Sans Display', serif;
   margin-left: auto;
}
.about a{
  color: #f87ed3;
}
#about-us{
  display: flex;
  height: 700px;
  width: 100%;
  gap: 23px;
  margin-top:100px ;
}

#about-us a:hover {
  color: rgb(137, 105, 235); 
  text-decoration: underline; 
}
.discount h3{
  color: #f87ed3;
  text-align: left;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 19px;
}

.discount video {
    width: 500px;
    object-fit:cover;
    border: none;
    margin-right: 80px;
   height:500px; 
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 768px) {
  .form-columns {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {


  .container2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-info {
    text-align: center;
  }


    .map-salonstatus {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .opening-hours {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .map-container {
    width: 100%;
    margin: 0;
  }

  .map-container iframe {
    height: 300px; 
  }

 footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

 .topnav img {
    width: 60px;  
    height: 60px;
  }

 .social-links-container , .footer-booking-btn {
        justify-content: center;
    }
}

  
   
   

  
